# Portas
PORT_WEB_PROD=3000
PORT_WEB_DEV=5173
PORT_API_ESTOQUE_DEV=5005
PORT_API_ESTOQUE_PROD=5000

# Banco de Dados (Postgres)
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=changeme
DB_NAME=estoque

# Ambiente
NODE_ENV=development